<div class="hero">
  <div class="hero-inner">
    <a href "" class="hero-logo"></a>
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
    <div class="hero-copy">

      <h1>The Wealth Gap Slider</h1>
      <p>See where minimum wages would be if the poverty gap remained consistent at 1979 levels</p>

    </div>

    <button>Learn More</button>

  </div>
</div>


<div class="companies-container">
  <div class="companies-inner">


  </div>
</div>
