.companies-container {

  .companies-inner {
    @include outer-container;
    margin: auto;
    padding-top: 3em;

    .company {
      margin: auto;
      min-height: 400px;
      width: 60%;
      text-align: center;

      .slider-container {
        margin: auto;
        margin-top: 2em;

      }

    }

  }

}
